* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

body { 
	font: 13px Helvetica, Arial; 
}

form { 
	background: white; 
	padding: 3px; 
	position: fixed; 
	bottom: 0; 
	width: 83%; 
}

form input { 
	border-color: black;
	border-radius: 5px;
	padding: 10px; 
	font-size: 20px;
	width: 87%; 
	margin-left: 1px; 
}

form button { 
	width: 12%; 
	background: #00A7D7; 
	border-radius: 8px;
	color: white;
	font-size: 20px;
	padding: 12px; 
}

#messages {
	list-style-type: none; 
	margin-bottom: 4.5%; 
	padding: 0; 
}

#messages li { 
	border-radius: 25px;
	background: #eee;
	font-size: 20px;
	margin-bottom: 1%;
	padding: 5px 10px;
}

#channel-sec { 
	background: #660033;
	background-image: url(img/ecc5c955c18369a228a26bc4f25dafb5.jpg);
	height: 100vh;
	text-align: center;
	position: fixed;
}

#users-heading { 
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
	text-align: center;

}
#users { 
	list-style: none;
	font-size 20px;
}

#users li:before { 
	content: "•"; /* Insert content that looks like bullets */
	padding-right: 8px;
	color: chartreuse; /* Or a color you prefer */
}

#users li {
	font-family: 'Raleway', sans-serif;
}

#main {
	margin-left: 16%;	
}

#main .nav {
	margin-bottom: .5%;
}

.nav li {
	font-size: 18px;
}

#private {
	border-radius: 10px;
	font-size: 22px;
	position: absolute;
	right: 0;
	bottom: 0;
}